<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ECATALOGO</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./app/themp/images/gotaverde.png"
    />
    <!-- Custom fonts for this template-->
    <link
      href="./dashboard/views/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="./dashboard/views/css/sb-admin-2.css" rel="stylesheet" />

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="./dashboard/views/css/calculator.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <div class="container" style="border-top: 200px;">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5 glass">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="text-center">
                      <h1
                        class="h4 text-gray-900 mb-4 animate__animated animate__fadeIn animate__slow titleC"
                      >
                        ¡Descubre el producto perfecto para ti!
                      </h1>
                      <h1
                        class="h5 text-gray-900 mb-4 animate__animated animate__fadeIn animate__slower titleC"
                      >
                        Navega y encuentra los accesorios 420 que encajen
                        contigo a la perfección.
                      </h1>
                      <br />
                      <center>
                        <div class="col-12 col-md-4">
                          <lottie-player
                            src="https://lottie.host/c5d69111-381c-4d0e-92cb-e33ffc5b1f8f/mtCRRR7tYY.json"
                            background="transparent"
                            speed="1"
                            class="animate__animated animate__fadeIn animate__slower rounded"
                            loop
                            autoplay
                            id="imgHome"
                          ></lottie-player>
                        </div>

                        <div
                          class="card-columns animate__animated animate__backInUp"
                          id="cardGroup"
                        ></div>
                      </center>
                    </div>
                    <form class="user">
                      <div class="row" id="formTest">
                        <!--  <div class="form-group col-6">
                          <input
                            type="number"
                            required
                            name="edad"
                            class="form-control form-control-user"
                            id="mail"
                            aria-describedby="emailHelp"
                            placeholder="Edad"
                          />
                        </div>
                        <div class="form-group col-6">
                          <input
                            type="number"
                            required
                            name="peso"
                            class="form-control form-control-user"
                            id="pass"
                            placeholder="Peso"
                          />
                        </div>
                        <div class="form-group col-12">
                          <input
                            type="text"
                            required
                            name="name"
                            class="form-control form-control-user"
                            id="pass"
                            placeholder="Nombre"
                          />
                        </div> -->

                        <a
                          href="https://herbalcbd.shop/app/themp/page.php?id=5d9d3a6a9d9a1be31e402737b882a3a1548%26palgrifo"
                          class="btn btn-success btn-user btn-block mt-3"
                        >
                          Ver productos
                        </a>
                      </div>
                    
                    </form>
                    <hr />
                    <!-- <div class="text-center">
                                        <a class="small" href="forgot-password.html">¿Perdio su contraseña?</a>
                                    </div> -->
                    <!--   <div class="text-center">
                                        <a class="small" href="register">Crear cuenta</a>
                                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white fixed-bottom" style="background-color: #1cc88a">
        <!-- Grid container -->
        
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #5a5c69">
          © 2023 Copyright:
          <a class="text-white" href="#">HerbalCBD</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
  </body>
  <!-- sweetalert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.all.min.js"></script>
  <!-- Bootstrap core JavaScript-->

  <script src="./dashboard/views/vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="./dashboard/views/vendor/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="./dashboard/views/js/sb-admin-2.js"></script>
  <script>
    $(document).ready(function () {
      $("#questions").hide();
      $("#img1").hide();
      $("#img2").hide();
      $("#img3").hide();
      $("#img4").hide();
      $("#img5").hide();
      $("#img6").hide();
      $("#img7").hide();
      $("#img8").hide();
      $("#img9").hide();
      $("#img10").hide();
      $("#img11").hide();
      $("#1QSI").hide();
      $("#2QSI").hide();
      $("#3QN0").hide();
      $("#4QNO").hide();
      $("#5QNO").hide();
      $("#6QSI").hide();
      $("#7QNO").hide();
      $("#8QNO").hide();
      $("#9QSI").hide();
      $("#10QNO").hide();
      $("#11QNO").hide();
      $("#12QNO").hide();
      $("#13QNO").hide();
      $("#14QNO").hide();
    });
    function test() {
      $("#formTest").hide();
      $("#imgHome").hide();
      $("#questions").show();
      $("#img1").show();
      $(".titleC").hide();
    }
    function test2(value) {
      $("#questions").hide();
      $("#img1").hide();
      if (value == 1) {
        $("#img2").show();
        $("#1QSI").show();
      } else {
        $("#img8").show();
        $("#13QNO").show();
      }
    }
    function test3(value) {
      $("#1QSI").hide();
      $("#img2").hide();
      if (value == 1) {
        $("#img3").show();
        $("#2QSI").show();
      } else {
        $("#img3").show();
        $("#2QSI").show();
      }
    }
    function test4(value) {
      $("#2QSI").hide();
      $("#img3").hide();
      if (value == 1) {
        product("Relajación");
      } else {
        $("#img4").show();
        $("#3QN0").show();
      }
    }
    function test5(value) {
      $("#3QN0").hide();
      $("#img4").hide();
      if (value == 1) {
        $("#img5").show();
        $("#8QNO").show();
      } else {
        $("#img6").show();
        $("#4QNO").show();
      }
    }
    function test6(value) {
      $("#4QNO").hide();
      $("#img6").hide();
      if (value == 1) {
        product("Relajación");
      } else {
        $("#img7").show();
        $("#5QNO").show();
      }
    }
    function test7(value) {
      $("#5QNO").hide();
      $("#img7").hide();
      if (value == 1) {
        product("Relajación");
      } else {
        product("Relajación");
      }
    }
    function test8(value) {
      $("#8QNO").hide();
      $("#img5").hide();
      if (value == 1) {
        product("Pomada");
      } else {
        product("Fitness");
      }
    }
    function test9(value) {
      $("#13QNO").hide();
      $("#img8").hide();
      if (value == 1) {
        $("#img9").show();
        $("#9QSI").show();
      } else {
        $("#img5").show();
        $("#14QNO").show();
      }
    }
    function test10(value) {
      $("#9QSI").hide();
      $("#img9").hide();
      if (value == 1) {
        $("#img10").show();
        $("#11QNO").show();
      } else {
        $("#img10").show();
        $("#11QNO").show();
      }
    }
    function test11(value) {
      $("#11QNO").hide();
      $("#img10").hide();
      if (value == 1) {
        $("#img11").show();
        $("#12QNO").show();
      } else {
        $("#img11").show();
        $("#12QNO").show();
      }
    }
    function test12(value) {
      $("#12QNO").hide();
      $("#img11").hide();
      if (value == 1) {
        product("Pediatrico");
      } else {
        product("Pediatrico");
      }
    }
    function test13(value) {
      $("#14QNO").hide();
      $("#img5").hide();
      if (value == 1) {
        product("Pomada");
      } else {
        product("Fitness");
      }
    }
    function product(id) {
      $.ajax({
        type: "post",
        url: "controllers/resultTest.controller.php",
        data: { id: id },
        dataType: "json",
        success: function (response) {
          console.log(response);
          for (i = 0; i < response.data.length; i++) {
            var res =
              "<div class='card' style='border-radius: 16px;'>" +
              "<img class='card-img-top' src='" +
              response.data[i].link +
              "' alt='Card image cap'/>" +
              "<div class='card-body'>" +
              "<h5 class='card-title'>" +
              response.data[i].keyy +
              " " +
              response.data[i].var +
              "</h5>" +
              "<p class='card-text'>" +
              response.data[i].dscr +
              "</p>" +
              "</div>" +
              "<div class='card-footer'>" +
              "<small class='text-muted'> <a name='' id='' class='btn btn-success btn-user btn-block' href='@<?=$idF?>' role='button'>Ir a catálogo</a></small>" +
              "</div>" +
              "</div>";
            $("#cardGroup").append(res);
          }
        },
      });
    }
  </script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- stats.js lib -->
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <script src="./dashboard/views/js/calculator.js"></script>
</html>
