<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Política de privacidad | RutaDeLaSeda</title>

    <!-- Custom fonts for this template-->
    <link
      href="./dashboard/views/vendor/fontawesome-free/css/all.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="./dashboard/views/css/sb-admin-2.css" rel="stylesheet" />

    <!-- sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.2/sketchy/bootstrap.min.css" integrity="sha512-8HIl1gmLSbt7dBuv4WKQQJCHKvOaW/BgHZcbQoj5wI0ZPmK9XBeolj8sZtFRd88rpuaoLjJemuj9GkPd4se7Iw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Política de privacidad</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="mt-5">Política de Privacidad de Ruta de la Seda</h3>
                            <p>Esta Política de Privacidad describe cómo Ruta de la Seda recopila, utiliza y comparte información cuando utilizas nuestra aplicación móvil Ruta de la Seda.</p>
                
                            <h4>Información que Recopilamos</h4>
                            <h5>Información que Nos Proporcionas</h5>
                            <ul>
                                <li><strong>Información de la Cuenta:</strong> Al crear una cuenta en la Aplicación, recopilamos tu nombre de usuario, dirección de correo electrónico y contraseña.</li>
                                <li><strong>Información de Perfil:</strong> Puedes proporcionar información adicional en tu perfil, como tu nombre completo, dirección y número de teléfono.</li>
                                <li><strong>Información de Transacciones:</strong> Recopilamos información sobre las transacciones que realizas a través de la Aplicación, como los productos que compras o vendes.</li>
                            </ul>
                
                            <h5>Información que Recopilamos Automáticamente</h5>
                            <ul>
                                <li><strong>Datos de Uso:</strong> Recopilamos información sobre cómo interactúas con la Aplicación, como las páginas que visitas y las acciones que realizas.</li>
                                <li><strong>Información del Dispositivo:</strong> Recopilamos información sobre tu dispositivo móvil, incluyendo el modelo, sistema operativo e identificadores únicos.</li>
                                <li><strong>Ubicación:</strong> La Aplicación puede recopilar tu ubicación precisa cuando la función de ubicación esté habilitada en tu dispositivo móvil. Esta información se utiliza para proporcionar funciones basadas en la ubicación, como la búsqueda de tiendas cercanas.</li>
                            </ul>
                
                            <h4>Uso de la Información</h4>
                            <p>Utilizamos la información recopilada para:</p>
                            <ul>
                                <li>Proporcionar y mantener la funcionalidad de la Aplicación.</li>
                                <li>Personalizar tu experiencia y ofrecerte contenido y anuncios relevantes.</li>
                                <li>Procesar transacciones y facilitar la comunicación entre usuarios.</li>
                                <li>Mejorar y optimizar nuestra Aplicación.</li>
                            </ul>
                
                            <h4>Compartir Información</h4>
                            <p>No compartimos tu información personal con terceros, excepto en las siguientes circunstancias:</p>
                            <ul>
                                <li>Con tu consentimiento.</li>
                                <li>Cuando sea necesario para procesar transacciones o proporcionar servicios solicitados por ti.</li>
                                <li>Cuando sea requerido por ley o en respuesta a procesos legales.</li>
                            </ul>
                
                            <h4>Seguridad de la Información</h4>
                            <p>Tomamos medidas para proteger la seguridad de tu información personal y mantenemos procedimientos para garantizar su seguridad.</p>
                
                            <h4>Cambios en la Política de Privacidad</h4>
                            <p>Podemos actualizar esta Política de Privacidad de vez en cuando. Te notificaremos cualquier cambio mediante la publicación de la Política de Privacidad actualizada en la Aplicación.</p>
                
                            <h4>Contacto</h4>
                            <p>Si tienes alguna pregunta sobre esta Política de Privacidad, contáctanos en <a href="mailto:contacto@rutadelaseda.xyz">contacto@rutadelaseda.xyz</a>.</p>
                        </div>
                    </div>
                </div>
                
                <hr />

                <div class="text-center">
                  <a class="small" href="login"
                    >¿Tienes ya una cuenta? !Inicia sesión!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->

    <script src="./dashboard/views/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./dashboard/views/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./dashboard/views/js/sb-admin-2.js"></script>
    <script>
      function register() {
        var nombre = $("#nombre").val();
        var phone = $("#phone").val();
        var categoria = $("#categoria").val();
        var tipoUs = $("#tipoUs").val();
        var contra1 = $("#contra1").val();
        var contra2 = $("#contra2").val();
        $.ajax({
          type: "post",
          url: "controllers/register.controller.php",
          data: {
            username: nombre,
            pass: contra1,
            pass2: contra2,
            phone: phone,
            cat: categoria,
            tipoUs: tipoUs,
          },
          dataType: "json",
          success: function (response) {
            console.log(response);
            if (response.ok == "false") {
              Swal.fire({
                title: "!Error!",
                text: response.id,
                icon: "error",
                confirmButtonText: "Ok",
              });
            } else {
              setTimeout(function () {
                window.location.href = "login";
              }, 3000);
              Swal.fire({
                title: response.id,

                icon: "success",
                confirmButtonText: "Cool",
              });
            }
          },
        });
      }
      function showSect() {
        var variable = $("#tipoUs").val();
        
        if (variable == 3) {
          $("#categoria").hide();
        } else {
          $("#categoria").show();
        }
        
      }
    </script>
  </body>
</html>
