<ul
  class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index"
  > 
    <img
      src="app/themp/images/ECATALOG.png"
      width="200px"
      class="img-fluid"
      alt=""
    />
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tablero</span></a
    >
  </li>

  <!-- Divider -->


  <!-- Heading -->


  <!-- Nav Item - Pages Collapse Menu -->
  

  <!-- Nav Item - Utilities Collapse Menu -->

  <!-- Divider -->
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Tiendas</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Anexar a tienda</span></a
    >
  </li>
  <!-- Heading -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="pedidos">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Registro de pedidos</span></a
    >
  </li>
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Catalogo</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="catalogo">
      <i class="fas fa-book"></i>
      <span>Detalles del catalogo</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
  <!-- <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="./dashboard/views/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> -->
</ul>
