<footer class="bg-body-tertiary text-center fixed-bottom cristalNav">
    <center>
        <div class="container row text-primary mt-3 mb-3">
            <div class="col-6">
                <center>
                    <a href="home" class="botonF1 text-primary">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>
                </center>
            </div>
            
            <div class="col-6">
                <center>
                    <a href="historial" class="botonF1 text-primary">
                        <i class="fas fa-history fa-2x"></i></a>

                </center>
            </div>
        </div>
    </center>
</footer>